<div class="aboutSection">
  <div class="aboutDiv">
    <span>About Meade</span>

    <p>Inspired by friends and family with experience in the field, I decided to make the radical career transition from management and financial bookkeeping to software development in January of 2015.  Too rarely in our modern world does a career offer the opportunity to produce a tangible and impactful product.  Web development affords that opportunity with the enormous benefit of being able to share that product across the globe.  With that in mind, it’s hard for for an unflinching optimist, big picture thinker, and humanist ideologue such as myself, to not be passionate about my field.</p>

    <p>When I’m not slinging code, I enjoy being a game geek, card shark, sports nerd, and dog father.  I also enjoy backpacking and kayaking, music of (nearly) all varieties, and reading about history and politics.</p>

  </div>
</div>
