<div class="skillsSection">

  <div class="skillContainer">
  <div class="iconPanel">
    <div class="iconDisplay">

      <img ng-click="changeLang(javascript)" class="skill javascript" src="images/javascript.png">
      <img ng-click="changeLang(angular)" class="skill angular" src="images/angularjs-logo.png">
      <img ng-click="changeLang(backbone)" class="skill backbone" src="images/backbone.png">
      <img ng-click="changeLang(ajax)" class="skill ajax" src="images/ajax.png">
      <img ng-click="changeLang(css)" class="skill css" src="images/css3.svg">
      <img ng-click="changeLang(sass)" class="skill sass" src="images/sass.png">
      <img ng-click="changeLang(foundation)" class="skill foundation" src="images/zurbFoundation.svg">
      <img ng-click="changeLang(bourbon)" class="skill bourbon" src="images/bourbon-logo.png">
      <img ng-click="changeLang(html)" class="skill html" src="images/html.png">
      <img ng-click="changeLang(github)" class="skill github" src="images/octocat.png">

    </div>
  </div>

  <div class="skillDesc">
    <span class="descText">C:/myskills/{{ displayedLang.path }}</span>
    <p>{{ displayedLang.desc }}</p>
  </div>


</div>
</div>
