@import "../css/vendor/bourbon/app/assets/stylesheets/bourbon";
@import "../css/vendor/neat/app/assets/stylesheets/neat";

//Color Variables

$colorText: RGBA(43, 35, 1, 1);
$colorA: RGBA(254, 150, 1, 1);
$colorB: RGBA(134, 38, 155, 1);
$colorC: RGBA(115, 175, 182, 1);
$colorD: RGBA(0, 183, 150, 1);


//General Styling

body {
  font-family: 'Work Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

//====================================
//Section 1 - Header
//====================================


// Main View

.container {
  width: 100%;
  height: 100vh;
}

.mainView {
  background-color: black;
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.view {

}

//Header

.firstName {
  font-size: 30px;
  position: absolute;
  color: white;
  top: 10px;
  left: 20px;
}

.lastName {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 35px;
  left: 20px;
}

.jTitle {
  color: white;
  position: absolute;
  top: 70px;
  left: 22px;
}


//Navigation menu

.nav {
  position: absolute;
  top: 125px;
  left: 20px;
  width: 100px;
  height: 500px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.navDiv {
  width: 100px;
  height: 100px;
  border: 1px solid $colorText;
  border-radius: 100%;
  margin: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.textLayer {
  width: 100px;
  height: 100px;
  background-color: RGBA(94, 97, 94, .8);
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  padding-top: 35px;
}

.navDiv:hover .textLayer {
  z-index: 10;
}

.navDiv .fa-bar-chart {
  position: absolute;
  top: 25px;
  left: 23px;
}

.navDiv .fa-briefcase {
  position: absolute;
  top: 26px;
  left: 25px;
}

.navDiv .fa-comment {
  position: absolute;
  top: 22px;
  left: 25px;
}

.navDiv .fa-phone {
  position: absolute;
  top: 25px;
  left: 30px;
}

#skillNav .colorLayer {
    height: 100px;
    width: 100px;
    background-color: RGBA(101, 213, 240, 1);
}

#workNav .colorLayer {
    height: 100px;
    width: 100px;
    background-color: RGBA(177, 30, 73, 1);
}

#aboutNav .colorLayer {
    height: 100px;
    width: 100px;
    background-color: RGBA(142, 181, 46, 1);
}

#contactNav .colorLayer {
    height: 100px;
    width: 100px;
    background-color: RGBA(0, 183, 150, 1);
}

// Highlights Current Page

.activeC {
  background-color: white !important;
}

.activeT {
  z-index: 10;
}


// Taglines

.tagLines {
  position: absolute;
  top: 580px;
  left: 850px;
  color: white;
}

.tagLines span {
  margin: 10px;
}

.tag1 {
  color: RGBA(153, 234, 59, 1);
}

.tagDivider {
  color: RGBA(94, 203, 236, 1);
}

.tag2 {
  color: RGBA(255, 180, 33, 1)
}

//==================================================
// Skills Section
//==================================================


// .skillsSection {
//   @include span-columns(12);
//   width: 100%;
//   height: 100vh;
//   background-image: url(../images/falloutmonitor.jpg);
//   background-size: cover;
//   display: block;
//   z-index: 2;
//   position: absolute;
//   left: 0;
//   top: 100vh;
// }

// .skillContainer {
//   position: relative;
// }

// .iconPanel {
//   position: absolute;
//   top: 68px;
//   left: 280px;
// }

// .iconDisplay {
//   position: relative;
// }

// .skillDesc {
//   position: absolute;
//   top: 68px;
//   left: 280px;
//   background-color: RGBA(14, 22, 17, 1);
//   border-radius: 30px;
//   width: 740px;
//   height: 520px;
// }

// .skillDesc span {
//   position: absolute;
//   top: 60%;
//   left: 50px;
//   color: RGBA(115, 182, 146, 1);
//   font-family: 'Monda', sans-serif;
// }

// .skillDesc p {
//   position: absolute;
//   top: 70%;
//   left: 50px;
//   color: RGBA(115, 182, 146, 1);
//   font-family: 'Monda', sans-serif;
// }

// .skill {
//   height: 60px;
//   width: 60px;
//   z-index: 3;
//   position: absolute;
//   border-radius: 5px;
// }

// .javascript {
//   top: 30px;
//   left: 30px;
// }

// .angular {
//   top: 30px;
//   left: 120px;
// }

// .backbone {
//   top: 30px;
//   left: 210px;
// }

// .ajax {
//   top: 30px;
//   left: 300px;
// }

// .css {
//   top: 120px;
//   left: 30px;
// }

// .sass {
//   top: 120px;
//   left: 120px;
// }

// .foundation {
//   top: 120px;
//   left: 210px;
// }

// .bourbon {
//   top: 120px;
//   left: 300px;
// }

// .html {
//   top: 210px;
//   left: 30px;
// }

// .github {
//   top: 210px;
//   left: 120px;
// }

//==================================================
// Portfolio Section
//==================================================

// .portfolioSection {
//   background-color: RGBA(193, 218, 214, 1);
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   top: 200vh;
//   left: 0;
//   z-index: 2;
// }

.portfolioSection p {
  color: RGBA(110, 146, 155, 1);
  font-size: 30px;
}

.portContainer {
  @include outer-container;
}

.project {
  @include span-columns(4);
  background-color: RGBA(245, 250, 250, 1);
  border-radius: 10px;
  height: 425px;
  text-align: center;
  border: RGBA(110, 146, 155, 1) 2px solid;

}

.projPic {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: RGBA(110, 146, 155, 1) 2px solid;
  overflow: hidden;
  margin: 20px auto 5px auto;
}

.projPic a img {
  width: 150px;
  height: 150px;
}

.projTitle a {
  text-decoration: none;
}

.projTitle a span{
  color: RGBA(110, 146, 155, 1);
  font-size: 30px;
}

.projTagline span{
  font-style: italic;
}

.projDesc p{
  font-size: 14px;
}

//==================================================
// About Section
//==================================================

// .aboutSection {
//   background-color: black;
//   background-image: url(../images/moss.jpg);
//   background-size: contain;
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   top: 300vh;
//   left: 0;
//   z-index: 2;
// }

.aboutSection p {
  color: white;
}

.aboutDiv {
  background-color: RGBA(253, 250, 250, 1);
  @include span-columns(8);
  @include shift(2);
  height: 70%;
  border: RGBA(74, 54, 39, 1) 2px solid;
  border-radius: 10px;
  margin-top: 20px;
}

.aboutDiv span {
  color: RGBA(80, 63, 41, 1);
  margin-left: 20px;
  font-size: 25px;
}

.aboutDiv p {
  color: RGBA(80, 63, 41, 1);
  margin: 25px;
}

//==================================================
// Contact Section
//==================================================

.contactDiv {
  margin-top: 120px;
}

.info i {
  color: white;
  margin: 10px;
}

.info span {
  color: white;
}

.contactDiv p {
  color: white;
  font-size: 30px;
}

.contactDiv a {
  text-decoration: none;
}

.contactDiv a i {
  color: white;
  margin: 20px;
}

.contactDiv {
  @include span-columns(6);
  @include shift(3);
}

